body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 16px 120px;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-weight: bold;
    font-size: 18px;
}

ul {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 14px;
}

.image-container {
    background-color: #1F2937;
    display: flex;
    color: white;
    padding: 60px 120px;
    justify-content: space-between;
    align-items: center;
}

.left-container {
    width: 360px;
}

.big-text {
    font-size: 36px;
    font-weight: bold;
    color: #F9FAF8
    margin: 0px;
}

.top-button {
    font-size: 14px;
    background-color: #3882F6;
    width: 80px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.large-image {
    background-color: rgb(115, 115, 117);
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 96px 96px;
}

.information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 120px;
    background-color: white;
}

.information-title {
    color: #1F2937;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 32px;
}

.information-content {
    display: flex;
    gap: 64px;
}

.info {
    width: 120px;
}

.square-image {
    height: 120px;
    width: 120px;
    border: 1mm solid #3882F6;
    border-radius: 8px;
}

.square-image-description {
    text-align: center;
    padding-top: 8px;
    font-size: 12px;
    color: rgb(115, 115, 117)
}

.quote-container {
    display: flex;
    background-color: #E5E7EB;
    padding: 60px 240px;
}

.quote-content {
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 32px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
}

.quote-author {
    color: #1F2937;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: end;
}

.bottom-container {
    display: flex;
    background-color: white;
    padding: 60px 160px;
    justify-content: center;
    align-items: center;
}

.action-container {
    display: flex;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 32px 80px;
    align-items: center;
    flex: 1;
    justify-content: space-between;
}

.action-info {
    display: flex;
    flex-direction: column;
    color: white;
    width: 400px;
}

#line-1 {
    font-size: 18px;
    font-weight: bold;
}

#line-2 {
    font-size: 12px;
}

.action-button {
    border: 0.5mm solid white;
    color: white;
    border-radius: 8px;
    width: 80px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    background-color: #1F2937;
    padding: 24px 0px;
}